# Dependencies
node_modules/
backend/node_modules/

# Local data & logs
backend/recordings/
backend/extra2/
recordings/
*.webm
*.mp4
# Ignore database but ALLOW package files
database.json
!package.json
!package-lock.json
*.log
npm-debug.log*

# Environment files (Security)
.env
backend/.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
